.container {
  border-bottom: 1px solid #ccc;
  padding: 8px;
  margin-top: 16px;
}

.topSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.orderDate {
  font-size: 18px;
  font-weight: 600;
}

.total {
  font-size: 18px;
  font-weight: 600;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 8px;
}

.itemLeftContainer {
  display: flex;
  align-items: center;
}

.title {
  font-size: 14px;
  font-weight: 500;
  margin-left: 8px;
}
